

#wrap{
	min-height:300px;
	width:810px;
	margin:0 auto 0 auto;
	padding:20px 0 0 50px;
	border: 1px solid #C8C8C8;
}




#wrap-form{
	margin:50px auto 0 auto;
	height:170px;
	width:510px;
	

}



#login-wrap{
	padding:20px 0 0 50px;
	margin:0 auto 0 auto;	
	height:200px;
	width:510px;
	background:#4284D3;
	color:white;
	float:right;
	border: 1px solid #C8C8C8;
		
}



#notice-wrap{
	margin:0 auto 5px auto;	
	padding:5px 5px 5px 5px;
	height:25px;
	width:250px;
	background-color:#FF3333;
	border: 1px solid #C8C8C8;
	
}



#user-login-wrap{
	display:block;
	width:250px;
	height:30px;
	margin:5px;

}
#answer-wrap{
	display:block;	
	width:250px;
	height:20px;
	margin:5px;
}

#question-wrap{
	display:block;	
	width:550px;
	height:20px;
	margin:5px;
}



.label-log{

	float:left;
	text-align:right;

}

.log-input{

	float:right;
}

#button-login-wrap{
	display:block;	
	height:40px;
	width:300px;
	margin:30px auto 0 auto; 
}

#left-log-wrap{

	float:left;
	width:90px;
	height:50px;
}
#right-log-wrap{
	float:right;
	line-height:20px; 
	margin:0 15px 0 0;
	width:90px;
	height:50px;

}

#first-content{

	position:relative;
	width:800px;
	height:300px; 
}
